langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-classic
langchain-text-splitters
langchain-openai
langgraph
chromadb
sentence-transformers
torch
rank_bm25
pydantic
typing-extensions
pdf2image
pytesseract
python-dotenv
PyMuPDF