langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-classic
langchain-text-splitters
sentence-transformers
rank_bm25
chromadb
pydantic
langgraph
pdf2image
pytesseract
python-dotenv
langchain-openai
PyMuPDF